---
title: Posts
layout: layout
---

<div class="container">
	<h3>...things I don't want to forget </h3>
  <center> 
		{% for tag in site.tags%}
			<h4 style="text-align: center"><a name="{{ tag | first }}">{{ tag | first }}</a></h4>
			{% for posts in tag %}
				{% for post in posts %}
					<div class="row">
							<h5 style="text-align: center"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> </h5>
					</div>
				{% endfor %}
			{% endfor %}
			<hr/>
		{% endfor %}
  </center>
</div>
