---
title: Posts
layout: layout
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
    {% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
    {% if tag != "" %}
        {% if tags == "" %}
            {% assign tags = tag | split:'|' %}
        {% endif %}
        {% unless tags contains tag %}
            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
<div class="container">
  <div>
    <h3 style="display:inline-block">Things I don't want to forget and some notes. Also not great at writing, so don't judge him too hard.&nbsp &nbsp</h3>
    <a style="display:inline; color:orange" href="{{ site.url }}/atom.xml" target="_blank"><i class="fa fa-feed fa-lg"></i></a>
  </div>
  <hr/>
  {% for tag in tags %}
      <div class="tag">
        <i class="fa fa-tags"></i>
        <a href="#{{ tag }}"> {{ tag }} </a>
      &nbsp;&nbsp;
      </div>
  {% endfor %}

  <hr/>
  {% assign categories = site.categories %}
  {% for category in categories %}
    <div class="category">
      <i class="fa fa-pie-chart"></i><a href="/categories.html#{{ category[0] }}"> {{ category[0] }} </a>
    </div>
  {% endfor %}
</div>
<hr/>
{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
<div class="container">
{% for tag in tags %}
    <span><h4 style="text-align: center; text-transform: uppercase;" class="post-tag" id="{{ tag | slugify }}"> {{ tag }} </h4></span>
    {% for post in site.posts %}
      {% if post.tags contains tag %}
          <div class="row">
              <h4 style="text-align: center"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> </h4>
          </div>
      {% endif %}
    {% endfor %}
    <hr/>
{% endfor %}
</div>
