<div class="social">
	<h4>
   {% if site.aboutme %}
        <a href="https://about.me/{{ site.aboutme }}" target="_blank" ><i class="fa fa-user"></i></a>
    {% endif %}

    {% if site.github %}
        <a href="https://github.com/{{ site.github }}" target="_blank" ><i class="fa fa-github"></i></a>
    {% endif %}

    {% if site.email %}
        <a href="mailto:{{ site.email }}?Subject=Hello%20Sumit" target="_blank" ><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.twitter %}
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank" ><i class="fa fa-twitter"></i></a>
    {% endif %}

    {% if site.linkedin %}
        <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}

    {% if site.stackoverflow %}
    <!-- stackoverflow userid here -->
        <a href="https://stackoverflow.com/users/{{site.stackoverflow}}/sumit-murari?tab=profile" target="_blank" ><i class="fa fa-stack-overflow"></i></a>
    {% endif %}

    {% if site.stackoverflow_story %}
        <a href="https://stackoverflow.com/story/{{site.stackoverflow_story}}" target="_blank" ><i class="fa fa-stack-overflow"></i></a>
    {% endif %}

    {% if site.keybase %}
    <a href="https://keybase.io/{{ site.keybase }}" target="_blank" ><img src="/static/img/keybase.io" alt="keybase_icon" /></a>
    {% endif %}


	</h4>
</div>
